@font-face{
    font-family:"TradeGothicW01-BoldCn20 675334";
    src:url("257c802f-349c-4b4d-aefa-546d5de15ec6.eot?iefix") format("eot");}
@font-face{
    font-family:"TradeGothicW01-BoldCn20 675334";
    src:url("257c802f-349c-4b4d-aefa-546d5de15ec6.eot?iefix");
    src:url("https://secure-store.nike.com/content-static/Fonts/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff"),url("616c4c87-a077-43f4-a9f4-f01267c13818.ttf") format("truetype"),url("c901ad5f-a842-4549-a1f4-583a97f7e169.svg#c901ad5f-a842-4549-a1f4-583a97f7e169") format("svg");
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

section#react-app {
	margin-top: 108px;
}

.pdpPage {
	font-weight: 400;
	font-family: 'TradeGothicW01-BoldCn20 675334',Helvetica,Arial,sans-serif;
}

.pdp_hero_and_alt_images {
	direction: rtl;
	display: inline-block;
	vertical-align: top;
}

.pdp_heroImage {
	display: inline-block;
}

.pdp_heroImage img {
	width: 460px;
	height: 460px;
}

.thumbnails {
	display: inline-block;
	direction: ltr;
	vertical-align: top;
	margin-right: 3px;
	width: 60px;
}

.pdp_content_container {
	width: 380px;
	margin-left: 20px;
	display: inline-block;
}

.pdp_productTitle {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: -1;
	line-height: 1.1;
}

.pdp_styleandcolor-info {
	position: relative;
	overflow: hidden;
	font-size: 11px;
}

.pdp_colorDescription {

}

.pdp_styleandcolorNumber {
	float: right;
}